*.log
*.pot
*.pyc

__pycache__/
env/
.env/
.vscode/
logs/
media/
static/
tmp/

.DS_Store
db.sqlite3
package-lock.json
settings/whoosh*
# local_settings.py added for example, should be removed in production
# settings/local_settings.py
